<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }
        </style>
  </head>
  <body>
    <div class="container">
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ENIGMA Conf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/conferences">Conferences <span class="sr-only">(current)</span></a>
            </li> 
            <%if (typeof(user) === "undefined") { %>
            <li class="nav-item">
                <a class="nav-link" href="login">Connexion</a>
            </li>
            <%}%>
            <%if (typeof(user) !== "undefined" && user.isAdmin == true) { %>
            <li class="nav-item">
                <a class="nav-link" href="login">Administration</a>
            </li> 
            <%}%>
          </ul>
        </div>
      </nav>
      <h1><%= title %></h1>
      <p><%=conference.description%></p>
      <div id="chat">
          <ul id="messages"></ul>
          <form action="">
            <div class="form-group">
              <input id="m" autocomplete="off" class="form-control"/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Envoyer</button>
            </div>
          </form>
      </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
      $(function () {
        var payload = {
          "participants": [
                {
                    "user_id": "<%= user.id %>",
                    "time": "3"
                }
            ]
        }
        
        console.log(JSON.stringify(payload));

        setInterval(function(){ 
          $.ajax({
            contentType: "application/json",
            data: JSON.stringify(payload),
            dataType: "json",
            method: "PATCH",
            url: "http://localhost:3000/api/conferences/<%=conference._id%>"
        })
        }, 3000);

          var socket = io();
          $('form').submit(function (e) {
              e.preventDefault(); // prevents page reloading
              socket.emit('chat_<%= conference._id%>', $('#m').val());
              $('#m').val('');

              return false;
          });

          socket.on('new_message_<%= conference._id%>', function (msg) {
            console.log(msg);
              $('#messages').append($('<li>').text(msg));
          });

          socket.on('user disconnected', function (username) {
              $('#messages').append(`<li><strong>${username}</strong> disconnected</li>`)
          });
      });
  </script>
  </body>
</html>
